<h1>New Request in our coworking space</h1>
<div class="row">

  <%= render  'shared/error_messages' %>

  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@request, url: requests_url) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email%>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :phone_number%>
      <%= f.text_field :phone_number, class: 'form-control' %>

      <%= f.label "Please let us know a bit a bout yourself"%>
      <%= f.text_area :paragraph, class: 'form-control' %>
      <br>
      <%= f.submit "make request", class: "btn btn-primary pull-right"%>
    <% end %>

  </div>
</div>
